toastr.options = {
  "closeButton": false,
  "debug": false,
  "newestOnTop": false,
  "progressBar": false,
  "positionClass": "toast-top-full-width",
  "preventDuplicates": false,
  "onclick": null,
  "showDuration": "100",
  "hideDuration": "5000",
  "timeOut": "5000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}
<% if  @message.errors.empty? %>
  $('.finance_form')[0].reset();
  $('#ModalAddFinance').modal('hide');
    toastr["success"]('Message has been send successfully.')
   setTimeout(function(){
    window.location.reload(true);
    }, 2000);
<%else%>
  $('.errors_invoice').append('<p class = "error_msg" ><%= @message.errors.full_messages.join(' , ') %></p>');
  setTimeout(function(){
      $('.error_msg').remove();
    }, 3000);
<%end%>