   <div class="content-area blog-page padding-top-40" style="background-color: #FCFCFC; padding-bottom: 55px;">
            <div class="container">
                <div class="row">
                    <div class="blog-lst col-md-12 pl0">
                        <section id="id-100" class="post single">

                            <div class="post-header single">
                                <div class="">
                                    <h2 class="wow fadeInLeft animated">FASHIN NOW 2016</h2>
                                    <div class="title-line wow fadeInRight animated"></div>
                                </div>
                                <div class="row wow fadeInRight animated">
                                    <div class="col-sm-6">
                                        <p class="author-category">
                                            By <a href="#">John Snow</a>
                                            in <a href="blog.html">Webdesign</a>
                                        </p>
                                    </div>
                                    <div class="col-sm-6 right" >
                                        <p class="date-comments">
                                            <a href="single.html"><i class="fa fa-calendar-o"></i> June 20, 2013</a>
                                            <a href="single.html"><i class="fa fa-comment-o"></i> 8 Comments</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="image wow fadeInRight animated"> 
                                    <img src="assets/img/blog2.jpg" class="img-responsive" alt="Example blog post alt">
                                </div>
                            </div> 

                            <div id="post-content" class="post-body single wow fadeInLeft animated">
                                <p>
                                    <strong>Pellentesque habitant morbi tristique</strong> 
        
                                </p>
                            
                            </div>

                        </section> 

                    </div>                                 
                </div>

            </div>
        </div>