<%= render 'property2'%>
<%#= link_to "New Category", new_category_path %>
<%#= link_to "New Property", new_property_path %>

<!-- <h2>Properties</h2> -->
<!-- <table>
	<thead>
		<tr>
			<th>Project Name</th>
			<th>Project Type</th>
			<th>Price</th>
			<th>Price/Sqft</th>
			<th>BHK</th>
			<th>Image</th>
			<th>Size</th>
		</tr>
	</thead>
	<tbody>
		<%# for property in @properties %>
		  <tr>
			<td><%#= property.name%></td>
			<td><%# category = Category.find_by(id: property.category_id)%><%#= category.name%></td>
			<td><%#= property.price%></td>
			<td><%#= property.price_sqft%></td>
			<td><%#= property.bhk %></td>
			<td><%#= image_tag property.image_url(:thumb)%></td>
			<td><%#= property.size%></td>
		  </tr>
		<%# end %>
	</tbody>
</table> -->