
<% if  @message.errors.empty? %>
  $('.finance_form')[0].reset();
  $('#ModalAddFinance').modal('hide');
    toastr["success"]('Message has been send successfully.')
   setTimeout(function(){
    window.location.reload(true);
    }, 2000);
<%else%>
  $('.errors_invoice').append('<p class = "error_msg" ><%= @message.errors.full_messages.join(' , ') %></p>');
  setTimeout(function(){
      $('.error_msg').remove();
    }, 3000);
<%end%>