
 <style>
    #reg{
            width: 106px;
    float: right;
    }
</style>

   <div class="page-head"> 
      <div class="container">
          <div class="row">
              <div class="page-head-content">
                  <h1 class="page-title">Home New account / Sign in </h1>               
              </div>
          </div>
      </div>
  </div>


  <div class="register-area" style="background-color: rgb(249, 249, 249);">
      <div class="container">
          <div class="col-md-6">
              <div class="box-for overflow">                         
                  <div class="col-md-12 col-xs-12 login-blocks">
                      <h2>Login : </h2> 

                      <%= render 'devise/sessions/login'%>
                      <%= render "devise/shared/links" %>
                      <br>
                      
                      <h2>Social login :  </h2> 
                      
                      <p>
                      <a class="login-social" href="#"><i class="fa fa-facebook"></i>&nbsp;Facebook</a> 
                      <a class="login-social" href="#"><i class="fa fa-google-plus"></i>&nbsp;Gmail</a> 
                      <a class="login-social" href="#"><i class="fa fa-twitter"></i>&nbsp;Twitter</a>  
                      </p> 
                  </div>
                  
              </div>
          </div>

      </div>
  </div>      
