
<div class="label-field-pair">
            
            <div class="col_4">
                <label for="student_grade" id="main_title">Enquiry</label>
                <label for="student_grade" id="query_title" style="display: none;">Query</label>
                <label for="student_grade" id="compliant_title" style="display: none;">Complaint</label>
                <label for="student_grade" id="service_request_title" style="display: none;">Service Request</label>
                <select id='purpose'>
                    <option value="0">Select </option>
                    <option value="1">Query </option>
                    <option value="2">Compliant </option>
                    <option value="3">Service Request</option>
                </select>

            </div>
            <div class="">

                <div style='display:none;' id='query'>
                    <div class="col_4 status_com" id="comments1">
                       
                       <h1>Query form</h1>

                    </div>
                </div>

                <div style='display:none;' id='compliant'>
                    <label for="student_grade">Compliant</label>
                   
                                
                </div>

                <div style='display:none;' id='service_request'>
                    <label for="student_grade">Service Request</label>
                                        
                </div>

                <div id="submit-button1">
                    <%#=submit_tag "► Update", :disable_with=> "► #{t('please_wait')}"%>
                </div>

            </div>
</div>



<script>
    jQuery.noConflict();

    jQuery(document).ready(function() {
        jQuery('#purpose').on('change', function() {
            if (this.value == '1') {
                jQuery("#query").show();
                jQuery("#comments1").show();
                jQuery("#query_title").show();
            } else {
                jQuery("#query").hide();
                jQuery("#comments1").hide();
                jQuery("#query_title").hide();
                jQuery("#main_title").hide();
            }
            if (this.value == '2') {
                jQuery("#compliant").show();
                jQuery("#comments2").show();
                jQuery("#status2").show();
                jQuery("#compliant_title").show();
            } else {
                jQuery("#compliant").hide();
                jQuery("#comments2").hide();
                jQuery("#status2").hide();
                jQuery("#compliant_title").hide();
                jQuery("#main_title").hide();
            }
            if (this.value == '3') {
                jQuery("#service_request").show();
                jQuery("#comments3").show();
                jQuery("#status3").show();
                jQuery("#service_request_title").show();
            } else {
                jQuery("#service_request").hide();
                jQuery("#comments3").hide();
                jQuery("#status3").hide();
                jQuery("#service_request_title").hide();
                jQuery("#main_title").hide();
            }
            if (this.value == '0') {
                jQuery("#main_title").show();
                jQuery("#query_title").hide();
                jQuery("#compliant_title").hide();
                jQuery("#service_request_title").hide();
            }
        });
    });
</script>

